##### ! pip install pymysql 설치

In [1]:
import import_ipynb

In [2]:
from movie_crawling import data
from weather_crawling import final_data
from melon_crawling import m
from  naver_ranking_news_crawling import df_news
from naver_exchang_crawling import FinallyDf
from Job_opening_crawling import df

importing Jupyter notebook from movie_crawling.ipynb

HBox(children=(IntProgress(value=0, max=67), HTML(value='')))

C:\ProgramData\Anaconda3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\ProgramData\Anaconda3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

=====END Movie Crawling=====
importing Jupyter notebook from weather_crawling.ipynb
=====END Weather Crawling=====
importing Jupyter notebook from melon_crawling.ipynb
=====END Melon Crawling=====
importing Jupyter notebook from naver_ranking_news_crawling.ipynb

HBox(children=(IntProgress(value=0, max=67), HTML(value='')))

=====END News Crawling=====
importing Jupyter notebook from naver_exchang_crawling.ipynb
=====END Exchange Crawling=====
importing Jupyter notebook from Job_opening_crawling.ipynb
=====END Job Crawling=====

In [3]:
import pymysql
import pandas as pd
import smtplib, ssl
import numpy as np
import smtplib 
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
import ipyparams

1. getConnection()을 통해 mysql과 연결
2. cursor() 메서드를 호출하여 Cursor 객체를 가져오기
3. execute() 메서드를 사용하여 SQL 문장을 DB 서버에 보내기
4. commit() 메서드를 사용하여 데이타를 확정 갱신
5. close() 메서드를 사용하여 DB 연결을 닫는다.

In [4]:
def getConnection():
    con = pymysql.connect(host='localhost', 
                           user = 'root', 
                           password='DB_password',
                           db='DB_name',
                           charset='utf8',
                           cursorclass=pymysql.cursors.DictCursor)
    return con

#####  table  생성 (CREATE 사용)

In [5]:
def make_table(table_name, table_colums):

    conn = getConnection()
    try:
        with conn.cursor() as cursor:
            print('creating table ...')
            
            # 테이블이 생성되지 않은 경우만 테이블 생성
            sql = 'CREATE TABLE IF NOT EXISTS {} {}'.format(table_name, table_colums)
            cursor.execute(sql)
        conn.commit()
    finally:
        conn.close()

In [6]:
pymysql.converters.encoders[np.float64] = pymysql.converters.escape_float
pymysql.converters.conversions = pymysql.converters.encoders.copy()
pymysql.converters.conversions.update(pymysql.converters.decoders)
pymysql.converters.encoders[np.int64] = pymysql.converters.escape_int
pymysql.converters.conversions = pymysql.converters.encoders.copy()
pymysql.converters.conversions.update(pymysql.converters.decoders)

##### data 입력 ( INSERT 사용)

In [7]:
def input_data(table_name, Data, legth_h):

    conn = getConnection()
    try:
        with conn.cursor() as cursor:
            print('inserting data ...')
            
            sql = "INSERT INTO {} VALUES ({}{})".format(table_name,'%s, '*(legth_h-1),'%s')
            for i in Data.index:
                val = tuple(Data.loc[i,Data.columns])
                cursor.execute(sql, val)
    
        conn.commit()
        print(cursor.rowcount, "record inserted.")
    finally:
        conn.close()

#####  원하는 날짜의 데이터 선택하기

In [8]:
def data_choose(df,input_date):
    return (df[df['날짜']== input_date])

##### data 조회 (SELECT 사용)

In [9]:
def data_select(table_name, input_date):

    conn = getConnection()
    try:
        with conn.cursor() as cursor:
            sql = "SELECT * FROM {}".format(table_name)
            cursor.execute(sql)
            
            query_result = pd.read_sql (sql, conn)
            return (data_choose(query_result, input_date))

    finally:
        conn.close()

##### 구글 이메일 보내기

In [10]:
def current_notebook_name() :
    notebook_name = ipyparams.notebook_name
    return notebook_name

notebookName = current_notebook_name()

- SSL과 TLS는 사용자와 웹 브라우저 간 통신을 암호화하는데 사용하는 프로토콜
- starttls() : ttl하면 필요한 거
- login() : 구글 이메일 로그인하기(이메일주소, 비밀번호)

In [11]:
def send_email_3(exchange_msg,news_msg,weather_msg,job_msg,movie_msg,music_msg):
    s = smtplib.SMTP('smtp.gmail.com',587)
    s.starttls()
    s.login('@gmail.com','password')
    
    exchange_msg = exchange_msg.to_html(index = False )  # 데이터프레임을 html로 변환
    weather_msg = weather_msg.to_html(index = False )
    news_msg = news_msg.to_html(index = False )
    job_msg = job_msg.to_html(index = False )
    movie_msg = movie_msg.to_html(index = False )
    music_msg = music_msg.to_html(index = False )
    pre =\
        """
        <html>
        <head>
        <style>
        .ft-default-1 { font-size: 24px; }
        .ft-default-2 { font-size: 32px; }
        .ft-smaller { font-size: smaller; }
        .ft-larger { font-size: larger; }
        table {
            width : 90%;
            text-align: center;
            line-height: 1.5;
            margin: 3px 3px;
        }
        table th {
            width: auto;
            padding: 10px;
            font-weight: bold;
            text-align: center;
            vertical-align: top;
            color: #fff;
            background: #ce4869 ;
        }
        table td {
            width: auto;
            vertical-align: top;
            text-align: center;
            border-bottom: 1px solid #ccc;
        }
        </style>
        </head>
        <center><span class="ft-default-2">""" + """{}</span></center>""".format(notebookName)

    one ='<div style="width:50%;float:left;"><table id="tbl1"><caption class="ft-default-1">{}</caption>{}</table></div>'.format("뉴스 속보" , news_msg)
    two ='<div style="width:50%;float:right;"><table id="tbl2"><caption class="ft-default-1">{}</caption>{}</table></div>'.format("날씨",  weather_msg)
    three ='<div style="width:50%;float:left;"><table id="tbl3"><caption class="ft-default-1">{}</caption>{}</table></div>'.format("추천노래",  music_msg)
    four ='<div style="width:50%;float:right;"><table id="tbl4"><caption class="ft-default-1">{}</caption>{}</table></div>'.format("채용정보",  job_msg)
    five ='<div style="width:50%;float:left;"><table id="tbl5"><caption class="ft-default-1">{}</caption>{}</table></div>'.format("환율" , exchange_msg)
    six ='<div style="width:50%;float:right;"><table id="tbl6"><caption class="ft-default-1">{}</caption>{}</table></div>'.format("영화정보" , movie_msg)
    sendHtml = '{}<body><div>{}{}{}{}{}{}</div></body></html>'.format(pre , one , two, three, four, five, six)
    msg = MIMEMultipart()
    
    # 메일 본문 작성
    part1 = MIMEText(sendHtml,'html')
    # 메세지를 메일에 붙여 줍니다.
    msg.attach(part1)
    
    msg['Subject']= '원하는 날짜의 뉴스/날씨/노래/채용/환율/영화정보 결과입니다.'
    # 메일 서버를 이용하여 메일을 발송합니다.  #msg는 object이기 때문에 전송을 위해 .as_string()으로 문자열로 바꿔야함(parsing)
    s.sendmail('@gmail.com','6@gmail.com', msg.as_string())
    
    print('Sent')
    s.quit()

#####  main.py

In [12]:
input_date = input('원하는 날짜를 입력하세요 (2020-05-01 ~ 2020-06-11)  : ')


# file_list = [naver_exchang_crawling.FinallyDf,naver_ranking_news_crawling.FinallyNewsList,weather_crawling.final_data,Job_opening_crawling.df,movie_crawling.data, melon_crawling.m]
Data_list = [FinallyDf, df_news,final_data, df, data, m]
table_name_list = ['exchange','ranking_news','weather','job','movie','music']
table_columns_list =["(날짜 CHAR(10) , USA CHAR(10) NOT NULL, EUR CHAR(10) NOT NULL,JPY CHAR(10) NOT NULL,CNY CHAR(10) NOT NULL)",
                     "(날짜 CHAR(10), title VARCHAR(500) , category VARCHAR(20) ,summary VARCHAR(10000))",
                    "(날짜 CHAR(10) , 최저기온 CHAR(10) NOT NULL, 최고기온 CHAR(10) NOT NULL, 비 CHAR(10) NOT NULL,강수량 CHAR(10) NOT NULL,옷차림 CHAR(100) NOT NULL,날씨 CHAR(10) NOT NULL)",
                    "(날짜 CHAR(30) , 회사 CHAR(100) NOT NULL)", 
                    "(제목 CHAR(50), 날짜 CHAR(10) NOT NULL, 평점 CHAR(10) NOT NULL, 장르 CHAR(50) NOT NULL,국가 CHAR(10) NOT NULL, 상영시간 CHAR(10) NOT NULL, 개봉일 CHAR(100) NOT NULL, 줄거리 VARCHAR(5000) NOT NULL)",
                    "(날짜 CHAR(10) , 노래 CHAR(50) NOT NULL, 가수 CHAR(50) NOT NULL, 좋아요수 CHAR(10) NOT NULL)"
                    ] 

for Data, name, columns in zip(Data_list, table_name_list, table_columns_list):
    table_name = name
    table_columns = columns
    legth_h = len(Data.columns.tolist())
#     print(legth_h)

    # table 생성
    make_table(table_name, table_columns)
    
    # data 입력
    input_data(table_name, Data, legth_h)

    
    # data 조회
    if table_name == 'exchange':
        exchange_msg = data_select(table_name, input_date)
    elif table_name == 'ranking_news':
        news_msg = data_select(table_name, input_date)
    elif table_name == 'weather':
        weather_msg = data_select(table_name, input_date)
    elif table_name == 'job':
        job_msg = data_select(table_name, input_date)
    elif table_name == 'movie':
        movie_msg = data_select(table_name, input_date)
    else:
        music_msg = data_select(table_name, input_date)

# 이메일 보내기
send_email_3(exchange_msg, news_msg, weather_msg, job_msg, movie_msg, music_msg)

원하는 날짜를 입력하세요 (2020-05-01 ~ 2020-06-11)  : 2020-06-08
             날짜       USA       EUR       JPY     CNY
0    2020-02-26  1,215.00  1,322.35  1,100.54  172.88
1    2020-02-27  1,212.00  1,326.35  1,100.77  172.84
2    2020-02-28  1,210.50  1,335.67  1,114.18  173.08
3    2020-03-02  1,194.00  1,323.67  1,107.66  171.38
4    2020-03-03  1,193.00  1,325.84  1,104.58  170.97
..          ...       ...       ...       ...     ...
107  2020-07-02  1,199.00  1,353.49  1,115.61  169.59
108  2020-07-03  1,199.50  1,347.28  1,115.81  169.74
109  2020-07-04  1,199.50  1,347.28  1,115.81  169.74
110  2020-07-05  1,199.50  1,347.28  1,115.81  169.74
111  2020-07-06  1,196.80  1,350.29  1,111.23  169.72

[112 rows x 5 columns]
5
creating table ...
inserting data ...
1 record inserted.
              날짜                                  title category  \
0     2020-05-01            지성호 “김정은 지난 주말 수술 쇼크로 사망했다”       정치
1     2020-05-01         지성호 "김정은 지난 주말 사망.. 99% 확신" 주장       정치
2     2020-05-01      [인터뷰] "김정은 사망 99% 확신" 지성호 주장 이유는?       정치
3     2020-05-01      휴가 취소하고 걸어서 곰탕집 간 文 "식당 이용 활발했으면"       정치
4     2020-05-01  지성호 "김정은 사망 99% 확신" 청와대 "특이동향 없다"(종합)       정치
...          ...                                    ...      ...
1000  2020-07-06   [속보] 경찰 “‘구급차 막은 택시’ 형사법위반 인정시 추가입건”       사회
1001  2020-07-06     최숙현 동료들의 국회 폭로 "처벌 1순위는 전 주장인 장윤정"       사회
1002  2020-07-06        [속보] 서초구서 1명 자가격리 중 코로나19 추가 확진       사회
1003  2020-07-06     [전문]"숙현이 언니 정신병자 취급한 주장선수가 처벌 1순위"       사회
1004  2020-07-06      구급차 막은 택시기사에 “당신도 부모가 있을 텐데 어떻게…”       사회

                                                summary
0     탈북민 출신 인권운동가 지성호 미래한국당 국회의원 당선인이 김정은 북한 국무위원장의...
1     탈북자 출신 인권운동가 지성호 미래한국당 비례대표 당선자는 1일 김정은이 사망한 것...
2      왜냐하면 정말 대한민국 국민들이 내는 세금으로 일을 해야 하고 국가를 위해서 일해...
3     문재인 대통령이 1일 참모진들과 청와대 주변 한 곰탕집을 찾아 오찬을 했다.문 대통...
4     탈북자 출신으로 4·15 총선에서 미래한국당 비례대표로 당선된 지성호 당선인은 1일...
...                                                 ...
1000  구급차를 막은 택시 탓에 응급환자가 사망했다는 의혹을 수사하고 있는 경찰이 택시 기...
1001  지난달 26일 극단적 선택을 한 고 최숙현 트라이애슬론 선수와 함께 경주시청 선수 ...
1002  서울 서초구에서 6일 60번째 신종 코로나 바이러스 감염증 환자가 발생했다.서초구에...
1003  고 최숙현 선수의 동료들이 6일 경주시청 트라이애슬론팀은 감독과 특정 선수만의 왕국...
1004  접촉사고 처리를 하고 가라며 택시기사가 구급차를 막아선 끝에 이송되던 환자가 당일 ...

[1005 rows x 4 columns]
4
creating table ...
inserting data ...
1 record inserted.
            날짜  최저기온  최고기온  비  강수량                                옷차림  날씨
0   2020-05-01  16.4  26.2  X    0  긴팔티 / 가디건 / 후드티 / 면바지 / 슬랙스 / 청바지  더위
1   2020-05-02    18  23.9  X    0  긴팔티 / 가디건 / 후드티 / 면바지 / 슬랙스 / 청바지  더위
2   2020-05-03    17  27.4  X    0  긴팔티 / 가디건 / 후드티 / 면바지 / 슬랙스 / 청바지  더위
3   2020-05-04  14.8  25.3  X    0  긴팔티 / 가디건 / 후드티 / 면바지 / 슬랙스 / 청바지  더위
4   2020-05-05  13.1  19.3  X    0  긴팔티 / 가디건 / 후드티 / 면바지 / 슬랙스 / 청바지  쌀쌀
..         ...   ...   ... ..  ...                                ...  ..
62  2020-07-02  20.4  29.8  X    0  긴팔티 / 가디건 / 후드티 / 면바지 / 슬랙스 / 청바지  더위
63  2020-07-03  21.6  30.6  O  0.1  긴팔티 / 가디건 / 후드티 / 면바지 / 슬랙스 / 청바지   비
64  2020-07-04  20.4  29.5  O  1.6  긴팔티 / 가디건 / 후드티 / 면바지 / 슬랙스 / 청바지   비
65  2020-07-05  19.9  27.6  X    0  긴팔티 / 가디건 / 후드티 / 면바지 / 슬랙스 / 청바지  더위
66  2020-07-06    30    30  O  5.3             겨울 옷(야상, 패딩, 목도리 등등 다)   비

[67 rows x 7 columns]
7
creating table ...
inserting data ...
1 record inserted.
            날짜       회사
0   2020-05-01    한신공영㈜
1   2020-05-02       한샘
2   2020-05-03     None
3   2020-05-04  현대오일뱅크㈜
4   2020-05-05   ㈜코리아센터
..         ...      ...
57  2020-07-27     None
58  2020-07-28     None
59  2020-07-29     None
60  2020-07-30     None
61  2020-07-31     None

[62 rows x 2 columns]
2
creating table ...
inserting data ...
1 record inserted.
              제목          날짜     평점                장르       국가   상영시간  \
0           가버나움  2020-05-01  9.54점               드라마  레바논,프랑스  126분
1         위대한 쇼맨  2020-05-01  9.31점           드라마,뮤지컬       미국  104분
2         에이리언 2  2020-05-01     없음      SF,공포,스릴러,액션       미국  137분
3         다크 나이트  2020-05-01  9.56점    액션,범죄,드라마,미스터리       미국  152분
4    패왕별희 디 오리지널  2020-05-01  9.65점               드라마    중국,홍콩  171분
..           ...         ...    ...               ...      ...    ...
665          우리들  2020-07-06  9.21점               드라마       한국   94분
666          톰보이  2020-07-06  8.86점               드라마      프랑스   82분
667   시간을 달리는 소녀  2020-07-06  9.43점  애니메이션,가족,드라마,판타지       일본   97분
668         오아시스  2020-07-06     없음               드라마       한국  132분
669      스타 이즈 본  2020-07-06  9.15점        드라마,멜로/로맨스       미국  135분

                                                   개봉일  \
0                                         2019.01.24개봉
1                           2020.05.21재개봉,2017.12.20개봉
2                                         1986.12.24개봉
3    2020.07.01재개봉,2017.07.12재개봉,2009.02.19재개봉,2008...
4             2020.05.01재개봉,2017.03.30재개봉,1993.12.24개봉
..                                                 ...
665                                       2016.06.16개봉
666                                       2020.05.14개봉
667           2016.01.14재개봉,2014.04.25재개봉,2007.06.14개봉
668                                       2002.08.15개봉
669                                       2018.10.09개봉

                                                   줄거리
0    나를 세상에 태어나게 한 "부모님을 고소하고 싶어요..."-출생기록조차 없이 살아온...
1    쇼 비즈니스의 창시자이자, 꿈의 무대로 전세계를 매료시킨 남자‘바넘’의 이야기에서 ...
2    에이리언과의 싸움에서 간신히 살아남은 리플리는 잠든 채로 57년을 떠돌다 구조선에 ...
3    정의로운 지방 검사 ‘하비 덴트’, ‘짐 고든’ 반장과 함께 범죄 소탕 작전을 펼치...
4    어렸을 때부터 함께 경극을 해온 ‘두지’(장국영)와 ‘시투’(장풍의).  세상에 둘...
..                                                 ...
665  그 여름, 나에게도 친구가 생겼다… “내 마음이 들리니”  언제나 혼자인 외톨이 선...
666  새로 이사 온 아이, ‘미카엘’.파란색을 좋아하고, 끝내주는 축구 실력과 유난히 잘...
667  저 마코토에게는 남들에게 말 못할 비밀이 하나 있어요. 타임리프라고 하는 능력이죠....
668  종두(설경구 분)는 뺑소니 교통 사고로 형을 살다가 교도소에서 막 출소했다. 그 사...
669  노래에 놀라운 재능을 가졌지만 외모에는 자신이 없는 무명가수 앨리(레이디 가가)는공...

[670 rows x 8 columns]
8
creating table ...
inserting data ...
1 record inserted.
             날짜                                             노래  \
0    2020-05-01                                        그녀와의 이별
1    2020-05-01                                     Hot Summer
2    2020-05-01                                        니가 참 좋아
3    2020-05-01                               오아시스 (Feat. 이재훈)
4    2020-05-01                                         해변의 여인
..          ...                                            ...
330  2020-07-06                                Close Your Eyes
331  2020-07-06  If The World Was Ending (feat Julia Michaels)
332  2020-07-06                   Make the Most (feat. H.E.R.)
333  2020-07-06                                  Little Things
334  2020-07-06                                        Selfish

                 가수   좋아요 수
0               김현정  152911
1              f(x)  149671
2               쥬얼리   85979
3          브라운아이드걸스   56337
4          쿨 (COOL)   54852
..              ...     ...
330          Rhodes  335059
331         JP Saxe  254529
332           Lonr.  251827
333  Jessica Mauboy  224961
334    Madison Beer  214429

[335 rows x 4 columns]
4
creating table ...
inserting data ...
1 record inserted.
Sent